import React, { useState } from "react";
import { useTranslation } from "react-i18next";
import { FormComposerV2, Toast } from "@egovernments/digit-ui-react-components";
import useCustomAPIMutationHook from "../../hooks/useCustomAPIMutationHook";
import { newConfig } from "../../configs/{{properCase serviceName}}CreateConfig";
import { useHistory } from "react-router-dom";

const {{properCase serviceName}}Create = () => {
  const [toastMessage, setToastMessage] = useState("");
  const tenantId = Digit.ULBService.getCurrentTenantId();
  const { t } = useTranslation();
  const history = useHistory();
  const [gender, setGender] = useState("");
  const reqCreate = {
    url: `/{{kebabCase serviceName}}/v1/_create`,
    params: {},
    body: {},
    config: {
      enable: false,
    },
  };

  const mutation = useCustomAPIMutationHook(reqCreate);

  const handleGenderChange = (e) => {
    setGender(e.target.value);
  };
  
  return (
    <div>
      <h1> Create {{properCase serviceName}}</h1>
      <FormComposerV2
        label={t("Submit")}
        config={newConfig.map((config) => {
          return {
            ...config,
          };
        })}
        {{!-- defaultValues={{}} --}}
        onSubmit={(data) => {
          console.log(data);
          setToastMessage(data["applicantname"]);
        }}
        {{!-- fieldStyle={{ marginRight: 0 }} --}}
      />
      {{!-- {/* Toast Component */}
      {toastMessage && (
        <div style={{ backgroundColor: "lightblue", padding: "10px", borderRadius: "5px", marginTop: "10px" }}>
          <div>{toastMessage}</div>
        </div>
      )} --}}
      {toastMessage && (
        <Toast label={toastMessage}></Toast>
      )}
    </div>
  );
}

export default {{properCase serviceName}}Create;